server:
  port: 8080
spring:
  application:
    name: "ApiFranquicias"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  mongodb:
    embedded:
      version: null
  data:
    mongodb:
      uri: mongodb+srv://jonathanavila83_db_user:oKHayRCVJG2YiFAh@pruebas.kuhx1fs.mongodb.net/api-franquicias?retryWrites=true&w=majority
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    mongo:
      command:
        enabled: false
      connectionpool:
        enabled: false
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
logging:
  level:
    root: INFO
    co.com.pragma: DEBUG
    org.springframework.web: DEBUG
    org.mongodb.driver: INFO